*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}
.main_nav{
    background-color: #192b42;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
.brand_name{
    color: white !important;
    padding: 0px 30px;
    font-size: 35px;
    z-index: 1;
    width: 30%;
    
}
.home_a{
    color: white !important;
    font-size: 20px;
    margin: 0px 20px;


}
.about_a{
    color: white !important;
    font-size: 20px;
    margin: 0px 20px;
}
.contact_a{
    color: white !important;
    font-size: 20px;
    margin: 0px 20px;

}
.shop_a{
    color: white !important;
    font-size: 20px;
    margin: 0px 20px;

}
.btn_search{
    color: white !important;
    border: 1px solid white !important;
}
#basket{
    position: relative;
}
#basket i{
    font-size: 25px;
}
#badgeForShopping{
    position: absolute;
    font-size: 12px;
    color: white;
    width: 15px;
    border-radius: 4px;
    background-color:rgb(114, 224, 191);
    left: -4px;
    top: 13px;
    text-align: center;
}
.sign_up{
    color: white !important;
    font-size: 20px;
    margin: 0px 20px;
}


/*  modal*/


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 500px !important;
    border-radius: 10px;

}

.close {
    color: #aaaaaa;
    display: flex;
    justify-content: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#main_sign{
    width: 432px;
    margin: 0 auto;
    height: auto;
}
.top{
    padding: 5px;
    height: 100px;
    width: 370px;
}

#name, #surname{
    margin: auto;
    width: 185px;
}
#num{
    width: 400px;
    margin: 10px auto;
}
#pas{
    width: 400px;
    margin: 10px auto;

}

.middle{
    width: 432px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background: transparent;
    border-radius: 8px;  

}
.middle h3{
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-weight: 600;

}
select{
    width:110px !important;
    height: 35px;
}
.gender{
    background-color: #fff;
    border: 1px solid #ccd0d5;
    box-sizing: border-box;
    display: inline-block;
    flex: 1 0 auto;
    font-weight: normal;
    height: 36px;
    margin: 8px 6px 6px;
    
    position: relative;
    width: 110px;
    border-radius: 4px;
}

.buttonA a{
    text-decoration: none;
    background: none;
    background-color: #192b42;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    height: 56px;
    overflow: hidden;
    text-shadow: none; 
    padding: 10px 10px;
    
}
.buttonA{
    text-align: center;
    
}

input:focus, select:focus{
     
    border-color:#ced4da !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
}
#child{
    display: flex;
    justify-content: center;

}
#num1{
    margin-left:15px;
    width: 400px;
}
/* change site color */
#openColorDiv {
    display: flex;
    position: fixed;
    top: 250px;
    right: -30px;
    z-index: 1000;
}
.iconChange{
    font-size: 30px;
}

#changeColor {
    width: 30px;
}

#changeColor .small {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#gold {
    background-color: #b17f14;
    border-radius: 50%;
}

#blue {
    background-color: #192b42;
    border-radius: 50%;
}




/* modal */
.main{
    height: 100vh;
    background-image: url(../images/about_back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
}
.main h1{
    text-align: left;
    padding-left: 50px;
    color: white;
    font-size: 75px;
    width: 100%;
}

.text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.idea, .search{
    margin: 20px 0px;
}
.text h1{
    color: #192b42;
    font-size: 35px;
}
.text p{
    font-size: 20px;
    word-spacing: 3px;
    text-align: justify;
}


/* Footer */

.footer{
    text-align: center;
    background-color: #192b42;
    padding: 30px 20px;
    
}

.footer_left ul li{
    margin-bottom: 20px;
}
.footer_left ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.footer_center ul li a{
    color: white;
    font-size: 18px;
}

.footer_right ul{
    display: flex;

}
.footer a:hover{
    text-decoration: none;
}
.footer_right{
    display: flex;
    justify-content: center;
}
.footer_right ul li{
    background-color:white;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_right ul li a{
    color: #192b42;
    font-size: 25px;
}
.footer_right ul li:hover{
    background-color: #192b42;
    border-color: white;
}
.footer_right ul li a:hover{
    color: white;
}